/*Book Suggestion CSS */
.bookSuggestionContainer
{
	position:absolute;
	left:3%;
	top:11%;
	width:20%;
}
table.bookSuggestionsTable td
{
	font-size:12px;
	padding-bottom:3px;
	padding-left:2px;
}
.bookSuggestionImage
{
	border-bottom: 1px solid black;
	margin-bottom:15px;
}
.suggestedBookCover:hover
{
	opacity:0.8;
}
/*END of BOOK SUGGESTION*/