/*Featured BOOKS*/
table.topBooks td
{
	font-size:13px;
	padding-bottom:3px;
	padding-left:2px;
}
.bookTopContainer
{
	position:absolute;
	top:10.5%;
	right:1%;
	width:20%;
}
.sideBox
{
	height:320px;
}

a.bookTitle
{
	text-decoration: none;
}
/*End of Featured BOOKS*/