/*Footer CSS*/
.footer
{
    margin-top:10px !important;
	width:100%;
	background-color:transparent;
	color:rgb(77,77,77);
	text-align: center;
	line-height: 3em;
}
table.footerTable td{
	text-align: center;
}
a.followLink:hover
{
	font-family: Helvetica;
	color:#B56302;
	font-size:12px;
}
.FollowUs{
	font-size:12px;;
}
.copyright
{
	font-size:9px !important;
}
/*End of Footer*/
