/*FriendSuggestion CSS*/
.friendsSuggestionContainer
{
	position:absolute;
	right:3.5%;
	top:380px;
}
.friend_suggestion_list
{
	margin-top: 10px;
	border-top: 1px solid rgb(202,202,202);
}
.sideBox2
{
	height:320px;
	margin-top:15px;
	
}
/* END of Friend Suggestion*/