.bookData
{
	font-size:12px;
}

.facebook
{
 background-color:transparent;
 border:none;
}

.twitter
{
 background-color:transparent;
 border:none;
}

.facebook:hover
{
opacity:0.8;
}

.twitter:hover
{
opacity:0.8;
}

.feature_image
{
margin-top:0px !important;
}

.button_feature
{
margin-top:10px;
}

.login_fields
{
width:200px;
}

.feature_description
{
margin-top:10px;
font-size:15px;
}
.Banner
{
	background-color: blue;
	font-size:45px;
}
.genericColumn
{
	font-size:15px;
}

.claseuno{
	font-weight: bold;
}

#menu div{
	margin-top: 100px;
}

.posdtaLogin
{
	margin-top:10px !important;
	text-align:center;
}
.video{
	margin-top: 130px !important;
}
.outside{
	background-color: #013D3D;
	height:700px;
	/*margin-top:5px;
	margin-bottom:5px;*/
	background-image: url("../img/frontCover.jpg");
	background-repeat: no-repeat;
	background-size:100% auto;
	background-position:0px -210px;
}
.featureContent
{
	padding:.5em;
	margin-top:80px !important;
	color:white !important;
	border-radius:5px;
	margin-bottom: 15px;
	font-size: 20px;
}

img.suggestionsFeature
{
position:relative;
top:-30px;
left:-60px;
}

img.mobilePresencePhone
{
position:relative;
left:-40px !important;
}
h1.featureTitle
{
color:#05D3CD ;
}
.mobilePresence
{
	background-color: #016B6B;
	height:550px !important;
	padding-top:10px !important;
	/*margin-top:15px;
	bargin-bottom:15px;*/
}
.levels
{
	background-color:#013D3D;
	height:340px;
	/*margin-top:15px;
	margin-bottom:15px;*/
}
.suggestions
{
	background-color:#013D3D;
	height:500px !important;
	padding-top:100px !important;
	/*margin-top:15px;
	margin-bottom:15px;*/
}
.translucent_black
{
	background-color: rgba(0,0,0,0.7);
	color:white;
	border-radius:5px;
	margin-bottom: 15px;
	padding:1em;

}

img.appStore
{
position:relative;
left:-10px;
}
.translucent_white
{
	background-color: rgba(255,255,255,0.7);
	border-radius:5px;
	margin-bottom: 15px;
	padding:1em;

}
#counter
{
	font-size: 45px;
}
a.conoce_mas:link
{
	margin-top:5px;
	font-size: 10px;
	margin-left: 80px;
	color:white;
	text-decoration: none;
}
a.conoce_mas:active
{
	margin-top:5px;
	font-size: 10px;
	margin-left: 80px;
	color:white;
	text-decoration: none;
}
a.conoce_mas:visited
{
	margin-top:5px;
	font-size: 10px;
	margin-left: 80px;
	color:white;
	text-decoration: none;
}
.white
{

	border-radius:5px;
	margin-top: 20px !important;
	margin-left:30px;
	text-align: left;
	font-size: 25px;
	color:rgba(242,242,242,1);
	font-weight: bold;
}
.translucent_black_description
{
	background-color: rgba(0,0,0,0.8);
	color:black;
	border-radius:5px;
	margin-bottom: 15px;
	padding:.5em;

}
.welcome_image
{
	margin-top: 250px;
	margin-left: 180px;
}
.title
{
	color:white;
	font-size: 23px;
	line-height: 2em;
	margin-left: 70px;
}
.facebook
{
	margin-right: 14px;
}

.small_margin
{
	margin-top: 16px;
	border-top:solid 1px rgb(202,202,202);
}
.small_margin2
{
	margin-top: 30px;
}
ul.friend_suggestion_list li
{
	padding-top:5px;
}
table.topBooks td
{
	padding-top:15px;
}
.button_login {
   border-top: 1px solid #003d3d;
   background: #217373;
   background: -webkit-gradient(linear, left top, left bottom, from(#003c3d), to(#217373));
   background: -webkit-linear-gradient(top, #003c3d, #217373);
   background: -moz-linear-gradient(top, #003c3d, #217373);
   background: -ms-linear-gradient(top, #003c3d, #217373);
   background: -o-linear-gradient(top, #003c3d, #217373);
   padding: 3.5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border:none;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button_login:hover {
   border-top-color: #003d3d;
   background: #003d3d;
   color: #ccc;
   }
.button_login:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.button_enter {
   border-top: 1px solid #003d3d;
   background: #217373;
   background: -webkit-gradient(linear, left top, left bottom, from(#003c3d), to(#217373));
   background: -webkit-linear-gradient(top, #003c3d, #217373);
   background: -moz-linear-gradient(top, #003c3d, #217373);
   background: -ms-linear-gradient(top, #003c3d, #217373);
   background: -o-linear-gradient(top, #003c3d, #217373);
   padding: 3.5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border:none;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button_enter:hover {
   border-top-color: #003d3d;
   background: #003d3d;
   color: #ccc;
   }
.button_enter:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.sliderStars
{
display:inline-block !important;
}

table.reviewComments
{
margin-top:10px;
}
table.reviewComments td
{
	vertical-align:bottom;
	color:white !important;
	margin-bottom: 15px !important;
	padding:.5em !important;
	font-size:12px;

}

img.bestRated
{
margin:3px !important;
border: solid 1px rgb(220,220,220);
}

.bestRatedTitle
{
margin:4px !important;
display:block;
font-size:10px;
}

.carouselHeight
{
height: 235px !important;
}

.topTenLight
{
background-color:rgb(255,255,255);
}

.topTenDark
{
background-color:rgb(220,220,220);
}
