table.bookInfoTable
{
border-radius:5px;
background-color:rgba(0,0,0,0.8);
width:100%;
}

table.bookInfoTable td
{
padding:6px;
vertical-align:top !important;
}

td.lessSpacing
{
height:25px;
}
p.bookTitle
{
font-size:13px;
margin-bottom:2px !important;
font-weight:bold;
color:rgb(255,255,255);
}

p.bookAuthor
{
margin-bottom:2px !important;
font-size:10px !important;
color:rgb(255,255,255);
}

p.metricNumber
{
font-weight:bold;
font-size:15px;
color:rgb(255,255,255);
}

img.bookCover
{
padding-left:6px;
}

div.marcarBox
{
padding-top:30px;
padding-bottom:30px;
}

div.bookInfoDiv
{
padding-top:15px;
padding-bottom:10px;
background-image: url('../img/frontCoverMobile.jpg');
background-position: -200px -150px;
}

table.marcarTable
{
margin-right:auto;
margin-left:auto;
}

table.marcarTable td
{
padding-right:10px;
padding-left:10px;
}

td.userPosdtaImage
{
vertical-align:middle !important;
}

table.sellarTable
{
margin-left:auto;
margin-right:auto;
}

table.sellarTable td
{
vertical-align:top !important;
padding:10px;
}

p.posdtaCounter
{
font-size:10px;
color:rgb(150,150,150);
position:relative;
top:-40px;
left:180px;
}

div.instructionsDiv
{
text-align:center;
}
p.bookInstructions
{
color:#D97F07;
}

span.bookInstructionsBold
{
color:rgb(60,60,60);
font-weight:bold;
}

textarea.posdta
{
margin-bottom:1px !important;
}
