.headerBar
{
background-color:#013D3D;
margin-bottom: 0px !important;
}

.searchBar
{
width:80% !important;
height:25px !important;
margin-bottom: 3px !important;
margin-top:3px !important;
font-size:10px !important;
padding:3px 4px !important;
margin-left:10px !important;

}

.searchButton
{
font-size:9px !important;
margin-bottom: 3px !important;
padding:2px !important;
}

table.headerTable td
{
padding:8px !important;
width:100% !important;
}
