.loginBox
{
text-align:center;
margin-top:50px;
background-color:
rgba(0,0,0,0.8); 
padding:3px;
padding-top:10px; 
border-radius:4px; 
color:#FFFFFF;
}

.loginField
{
margin-left: auto !important;
margin-right:auto !important;
}

.registerField
{
margin-left:auto !important;
margin-right:auto !important;
}

body
{
background-image: url('../img/frontCoverMobile.jpg');
background-position: -200px -150px;
}

.registerSelection
{
	margin-left:auto !important;
	margin-right:auto !important;
	width:210px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #777777;
    display: block;
    font: 13px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 6px 4px;	
}
