.boxTitle {
    background-color: #D97F07;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px !important; 
    margin-bottom: 0px !important;
    padding: 0.4em 0.7em !important;
    width:auto !important;
    border-top: .5px solid rgba(255,255,255,0.6);
    border-bottom: .5px solid rgba(255,255,255,0.6);
}

table.suggestedBooks{
margin-left:30px !important;
margin-top:10px !important;
}
table.suggestedBooks td
{
padding:5px !important;
vertical-align:top;
}

p.suggestedTitle
{
margin-bottom:2px !important;
color:rgba(255,255,255,1.0); !important;
}

p.suggestedAuthor
{
margin-bottom:2px !important;
color:rgba(255,255,255,1.0) !important;
font-size:10px !important;
}

table.bestRatedBooks{
margin-left:0px !important;
margin-top:0px !important;
}
table.bestRatedBooks td
{
padding:5px 5px 0px 0px !important;
vertical-align:top;
}

table.nowReadingTable
{
margin-top:0px !important;
margin-bottom:0px !important;
}

table.nowReadingTable td
{
vertical-align: top !important;
padding-top:15px;
}

p.bestRatedTitle
{
margin-bottom:1px !important;
color:rgba(23,23,23,1.0) !important;
}

p.bestRatedAuthor
{
margin-bottom:1px !important;
color:rgba(23,23,23,1.0) !important;
font-size:10px !important;
}

div.bestBookG
{
background-color:rgb(240,240,240) !important;
padding-bottom:5px !important;
}

div.bestBookW
{
background-color:rgb(220,220,220) !important;
padding-bottom:5px !important;
}

div.lightBox
{
background-color:rgba(0,0,0,0.2);
}

img.suggestedCover
{
position:relative;
top:5px;
}
