/*Stream Style*/
.stream_table
{
	border-top:1px solid #E6E6E6;
	width: 95%;
	margin-top:16px;
}
table.stream_table td
{
padding-top:5px;
padding-bottom:3px;
}

.stream_table_div
{
	position:absolute;
	margin-right:auto;
	margin-left:auto;
	top:10.5%;
	left:0;
	right:0;
	width:50%;
	height:60%;
	overflow: auto;
	overflow-x: hidden;
}

.streamPicture
{
	padding-right:15px;
}
.friends_name_stream
{
	font-size: 14px;
	color:#007477;
	text-decoration: none;
}
.friends_name_stream:HOVER
{
	color:#013D3D;
}
.stream_activity
{
	font-size: 14px;
	color:#808080;
	text-decoration: none;
}
.friendsimagetd
{
	width:40px;
	text-align: center;
}
/*END OF STREAM*/

/*SUGGESTIONS STYLE*/
.suggestedBookTitle
{
margin-top:5px;
font-size:13px;
}
.suggestedBookRating
{
margin-top:5px;
}
/*END OF SUGGESTIONS STYLE*/
