@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(autocomplete.css);
@import url(960.css);
@import url(header.css);
@import url(home.css);
@import url(bookSuggestions.css);
@import url(featuredBooks.css);
@import url(friendSuggestions.css);
@import url(stream.css);
@import url(profile.css);
@import url(footer.css);
@import url(normalize.css);
@import url(libro.css);
@import url(agregarlibro.css);
@import url(amigos.css);
@import url(demo.css);
@import url(basic-jquery-slider.css);
@import url(dropdown.css);
@import url(registro.css);
@import url(resultados.css);
@import url(feedback.css);

/*Universal CSS*/
body
{
overflow-x: auto;
width: 99%;
font-family: 'Arimo', sans-serif;
color:#808080;
font-size:12px;
background-image: url(../img/back.png);
}

.buttonHover:hover
{
	opacity:0.7;
}
.contentContainer
{
	margin-top: 50px;
	background-color:red;
}

#contentContainer
{
	margin-top: 0px;
	background-color:rgb(240,240,240);
	padding-top:35px;
	padding-left:15px;
	padding-right:15px;
}

.sideMargin
{
	border-right: solid 1px rgb(202,202,202);
}

.boxTitle
{
	background-color: rgb(217,127,7);
	padding: .4em;
	padding-left:.7em;
	padding-right:.7em;
	font-size: 12px;
	margin-bottom: 20px;
	color:rgb(255,255,255);
	font-weight: bold;
	width:100%;
	border-radius:2px;
}




.searchBar
{
	height:32px;
	width:200px;
	border-radius: 4px;
	padding:5px;
	font-family: Arial, sans-serif;
	font-style: italic;
	color:#CCCCCC;
	margin-top: 27px;
	border:none;
}


a.loginTag
{
color:#FFFFFF;
font-weight: bold;
font-size:13px;
}
a.loginTag:hover
{
 opacity: 0.8;	
}

a.bookTitle
{
	color:#808080;
}
a.bookTitle:VISITED
{
	color:#808080;
}
a.bookTitle:HOVER
{
	color:#DB7F07
}
a.stream_activity:HOVER
{
	color:#DB7F07
}
a.followLink
{
	font-family: Helvetica;
	color:#B56302;
	font-size:12px;
}
.feedback
{
	position:fixed;
	right:-48%;
	top:30%;
	width:600px;
	height:105px;
	background-color: #000000;
	border-radius: 4px;
	z-index: 1060;
	text-align: left;
}

.feedback_button
{
	position:relative;
	left:-1.3%;
	width:39px;
	height:103px;
	background-color: transparent;
	border:none;
	background-image: url('../img/feedback.png');
}
/*END Universal CSS*/

#hp_validation
{
	display: none;
}
